@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,600;0,700;1,400&display=swap');

.bold-text {
    font-weight: bold;
}

#wrap {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-family: "Barlow", sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* background-color: #FDE6D1; */
    background-color: #DCE6F0;
}

@media only screen and (min-width : 500px) {
    #title {
        font-size: 48px;
    }

    #countdown-wrap p {
        line-height: 2cap;
    }
}

@media only screen and (max-width : 500px) {
    #title {
        font-size: 24px;
    }
}

#glass {
    width: 100%;
    height: 20px;
    background: #D3D3D3;
    border-radius: 10px;
    float: left;
    overflow: hidden;
}

#progress {
    float: left;
    width: 50%;
    height: 20px;
    background: #558fff;
    border-radius: 5px;
}

.goal-stat {
    width: 50%;
    height: 30px;
    padding: 10px;
    float: left;
    margin: 0;
    color: rgb(0, 0, 0);
    box-sizing: border-box;

    @media only screen and (max-width : 500px) {
        width: 50%;
        text-align: center;
    }
}

@media only screen and (max-width : 220px) {
    .goal-stat {
        visibility: hidden;
    }
}

.goal-number, .goal-label {
display: block;
}

.goal-number {
font-weight: bold;
}

#copy {
    float: left;
    height: 20px;
    color: rgb(0, 0, 0);
    z-index: 333;
    border-radius: 5px;
}

.donate-button-container {
    max-width: 200px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background-color: #ff9900;
    border: 1px solid rgb(29, 29, 29);
    color: black;
    font-weight: 600;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.2s;
    font-family: "Barlow", sans-serif;
}

.btn:hover {
    background-color: #FFB969;
    color: black;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
}